@import "weather.css";
@import "todo.css";
@import "login.css";

body {
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hidden {
  display: none;
}

#quote {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  margin: 0px 30px;
}
#quote span:first-child {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: brightness(60%);
}
